In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv(r"E:\rainfall\Location_based_analysis\under_wind\wsl.csv",encoding="ISO-8859-1",index_col=0)
info = pd.read_excel(r"E:\rainfall\Location_based_analysis\under_wind\data\wsl\StationInfo.xlsx")
station, lon, lat = info['台站号'], info['经度'], info['纬度']
wd_x,wd_y = data['WD_x'],data['WD_y']

data

In [ ]:
for i in range(len(data)):
    plt.figure(figsize=(6.4 * 3, 4.8 * 3))


colors = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728', '#9467bd', '#8c564b', '#e377c2','#A9A9A9']

In [ ]:
for j in range(8):
    if temp[j] < 5.0:
         plt.plot(lon[j], lat[j], 'o', c=colors[j], markersize=10, label=station[j])
    else:
        plt.plot(lon[j], lat[j], 'o', c=colors[j], markersize=temp[j]*1.05, label=station[j])
    if temp[j] == 0.0:
        plt.text(lon[j], lat[j]+0.001, '0', ha='center', va='bottom', fontsize=26)
    elif 0 < temp[j]/5 < 25:
        plt.text(lon[j], lat[j]+0.003*(temp[j]/40), str(round(temp[j]/5, 2)), ha='center', va='bottom', fontsize=26)
    else:
        plt.text(lon[j], lat[j], str(round(temp[j]/5, 2)), ha='center', va='center', fontsize=26,  fontweight='bold')
plt.plot(lon[12], lat[12], '*', c='k', label=station[12], markersize=40)
plt.arrow(lon[12], lat[12],wd_x[0]*0.001,wd_y[0]*0.001)
plt.arrow(lon[12], lat[12]+0.005,wd_x[0]*0.001,wd_y[0]*0.001)
plt.arrow(lon[12], lat[12]-0.005,wd_x[0]*0.001,wd_y[0]*0.001)

plt.plot(lon[10], lat[10], '*', c='red', label=station[10], markersize=40)
plt.arrow(lon[10], lat[10],wd_x[10]*0.001,wd_y[10]*0.001)
plt.arrow(lon[10], lat[10]+0.005,wd_x[10]*0.001,wd_y[10]*0.001)
plt.arrow(lon[10], lat[10]-0.005,wd_x[10]*0.001,wd_y[10]*0.001)

In [ ]:
wd_x[1]*0.01

In [ ]:
data[0:1].index.values.tolist()

In [1]:
import pandas as pd
df=pd.read_excel(r"E:\rainfall\Location_based_analysis\under_wind\data\wsl\StationInfo.xlsx")
df

   台站类型        台站号          经度         纬度
0   雨量站      R0001  102.909013  37.210511
1   雨量站      R0002  102.878327  37.205510
2   雨量站      R0003  102.884368  37.165511
3   雨量站      R0004  102.882639  37.185618
4   雨量站      R0005  102.900749  37.215397
5   雨量站      R0006  102.936537  37.214248
6   雨量站      R0007  102.925111  37.228041
7   雨量站      R0008  102.892945  37.168056
8   综合站      W0001  102.892916  37.235569
9   综合站      W0002  102.877393  37.210741
10  综合站      W0003  102.906067  37.236431
11  综合站      W0004  102.917817  37.155366
12  单电极  MonoPolar  102.891500  37.200944
13  双电极    BiPolar  102.867861  37.197500